#example div p {
  margin: 0 0.25em;
  padding: 0.25em 0;
}

#div-before,
#div-after {
  background-color: #88d;
  color: #000;
}

#div-1 {
  width: 400px;
  background-color: #000;
  color: #fff;

  position: relative;
  top: 20px;
  left: -40px;

  height: 250px;
}

#div-1-padding {
  padding: 10px;
}

#div-1a {
  background-color: #d33;
  color: #fff;

  position: absolute;
  top: 0;
  right: 0;
  width: 190px;

  float: left;
}

#div-1b {
  background-color: #3d3;
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
}

#div-1c {
  background-color: #33d;
  color: #fff;

  clear: both;
}
